* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all ease 0.5s;
}

:root {
    --darkblue: #00b4d8;
    --lightblue: #caf0f8;
    --bodyfont: 'Montserrat';
    --headfont: 'Marcellus SC';
}

.main {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    background-color: var(--darkblue);
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 2em;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 70px;
    font-family: var(--headfont);
    font-weight: bold;
    color: #060026;
}

.logo img {
    width: 45px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3em;   
}

form input {
    outline: none;
    font-size: 16px;
    font-family: var(--bodyfont);
    padding: 0.5em 1em 0.5em 0em;
    border: none;
    border-bottom: dotted 2px #060026;
    background: none;
}

input::placeholder {
    color: #060026;
}

form button {
    align-self: flex-end;
    padding: 1em 2em;
    color: white;
    background-color: #060026;
    border: solid 2px #060026;
    font-size: 16px;
    letter-spacing: 1px;
}

form button:hover {
    cursor: pointer;
    background-color: var(--darkblue);
    color: #060026;
}

.content {
    background-color: var(--lightblue);
    display: grid;
    grid-template-rows: auto 1fr;  
    padding: 2em 3em; 
    row-gap: 3em;
    justify-items: center;
}

.head {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 2em;
    font-family: var(--bodyfont);
    font-size: 18px;
}

.head button {
    align-self: flex-end;
    padding: 1em 2em;
    color: white;
    background-color: #b63030;
    border: solid 2px #b63030;
    font-size: 18px;
    letter-spacing: 1px;
}

.head button:hover {
    cursor: pointer;
    color: #b63030;
    background: none;
}

.display {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

.card {
    background-color: #060026;
    color: white;
    box-shadow: 1px 1px 5px #060026;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em 2em;
    border-radius: 20px;
    min-width: 260px;
    min-height: 300px;
    text-transform: uppercase;
    font-family: var(--bodyfont);
    letter-spacing: 1px;
}

.card svg {
    width: 25px;
    height: 25px;
    fill: white;
    stroke: #fb6868;
    align-self: flex-end;
    z-index: 5;
}

.card svg:hover {
    transform: rotate(360deg);
}
 
.card:hover {
    cursor: pointer;
    transform: scale(1.05);
}